<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Basketball Database App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Basketball Database App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Basketball App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        
            <ul class="nav navbar-nav" style="text-align:center;">
            <li><a href="#">Player Information</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Coach</a></li>
            <li><a href="#">All Stars</a></li>
			<li><a href="#">Conference</a></li>
            <li><a href="#">Referee</a></li>
            <li><a href="#">Injury</a></li>
			
			<li><a href="#">Team Salary</a></li>
			<li><a href="#">Trade</a></li>
			<li><a href="#">Champions<a></li>
			</ul>
			
       
           
        </div>
	
 

 
    </div>
</body>
 
</html>