<!DOCTYPE html>
<html>
<head>
    <title>Logged out</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container" action="/logout"><br><br>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>You've logged out</h2>
            </div>
            <div class="panel-body">
                <h5><a href="/">Log back in?</a></h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>