<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Basketball Database App</title>
 
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
		  
            <nav>
                <ul class="nav nav-pills pull-right">
				      <li style="color:blue;"><b>Logged in: {{user}}</b></li> 
				    <li><a href="/showViewUser"> View Users(Admin Only)</a></li> 
                    <li role="presentation" class="active"><a href="/">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Basketball App</h3>
        </div>
	
		      <div class="jumbotron">
            <h1>Welcome Home</h1>
			
 
        </div>
      
     
         
 
        
            <ul class="nav navbar-nav" style="text-align:center;">
            <li><a href="/showPlayerInfo">Player Information</a></li>
			<li><a href="#">Player Statistics</a></li>
            <li><a href="#">Team</a></li>
			<li><a href="#">Team Statistics</a></li>
			<li><a href="#">Team Draft</a></li>
			<li><a href="#">Coach</a></li>
			<li><a href="#">All Stars</a></li>
			<li><a href="#">Conference</a></li>
            <li><a href="#">Referee Information</a></li>
			<li><a href="#">Champions</a></li>
            <li><a href="#">Injury</a></li>
			</ul>
 
       
           
        </div>
	
   </div>
  
     
</body>
 
</html>