<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Basketball Database App</title>
 
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
		  
            <nav>
                <ul class="nav nav-pills pull-right">
				    <li style="color:blue;"><b>Logged in: {{user}}</b></li> 
				    <li><a href="/showViewUser"> View Users(Admin Only)</a></li> 
                    <li role="presentation" class="active"><a href="/">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Basketball App</h3>
        </div>
 
 
 
        <div class="jumbotron">
            <h1>Player Information</h1>
			
 
        </div>
		
      <div class="jumbotron">
      

	  <form  class="form-signup" action="/deletePlayer" method="POST">
        <input type="text" required class="form-control" placeholder="Please enter a player's id to delete the player" name="player_id" value="{{
          request.form.player_id }}">

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Delete" id="btnSignin">
      </form>
      </div>
	  
		
		
		
        <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Players</h4></div>
        <table class="table table-striped" action="/viewPlayers">
            <thead>
            <tr>
                <th><h5>Player Id</h5></th>
                <th><h5>Player name</h5></th>
				<th><h5>Player Position</h5></th>
				<th><h5>Team Name</h5></th>

            </tr>
            </thead>
            <tbody>
            {% for player in players_data %}
                <tr>
                    <td>{{player[0]}}</td>
                    <td>{{player[1]}}</td>
					<td>{{player[2]}}</td>
                    <td>{{player[3]}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
		
		
	
    </div>
	 

	 
	 
	 
	 
 
 
	
   </div>
  
     
</body>
 
</html>