<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Basketball Database App</title>
 
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
		  
            <nav>
                <ul class="nav nav-pills pull-right">
				    <li style="color:blue;"><b>Logged in: {{user}}</b></li> 
				    <li><a href="/showViewUser"> View Users(Admin Only)</a></li> 
                    <li role="presentation" class="active"><a href="/">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Basketball App</h3>
        </div>
 
 
 
        <div class="jumbotron">
            <h1>Team Statistics</h1>
			
 
        </div>
		
		
	<div class="jumbotron">
      

	  <form  class="form-signup" action="/deleteTeamStat" method="POST">
        <input type="text" required class="form-control" placeholder="Please enter a team's id to delete the team Statistics" name="team_id" value="{{
          request.form.team_id }}">

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Delete" id="btnSignin">
      </form>
      </div>
		
		
		
		
		
		
        <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Teams</h4></div>
        <table class="table table-striped" action="/viewTeamStat">
            <thead>
            <tr>
                <th><h5>Team Id</h5></th>
                <th><h5>Team name</h5></th>
				<th><h5>Division name</h5></th>
				<th><h5>Points in total</h5></th>
				<th><h5>Rebounds in total</h5></th>
				<th><h5>Assists in total</h5></th>
				<th><h5>Steals in total</h5></th>
				

            </tr>
            </thead>
            <tbody>
            {% for team in teams_data %}
                <tr>
                    <td>{{team[0]}}</td>
                    <td>{{team[1]}}</td>
					<td>{{team[2]}}</td>
					<td>{{team[3]}}</td>
					<td>{{team[4]}}</td>
				    <td>{{team[5]}}</td>
					<td>{{team[6]}}</td>
			
                

                </tr>
            {% endfor %}
            </tbody>
        </table>
		
		
	
    </div>
	 

	 
	 
	 
	 
 
 
	
   </div>
  
     
</body>
</html>
 