<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Basketball Database App</title>
 
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
		  
            <nav>
                <ul class="nav nav-pills pull-right">
				    <li><a href="/showViewUser"> View Users(Admin Only)</a></li> 
                    <li role="presentation" class="active"><a href="/">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Basketball App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome Home</h1>
			
 
        </div>
        <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Users</h4></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><h5>User Id</h5></th>
                <th><h5>User Email</h5></th>
				<th><h5>Admin(true/false)</h5></th>

            </tr>
            </thead>
            <tbody>
            {% for user in USER_DATA %}
                <tr>
                    <td>{% print user[0][0] %}</td>
                    <td>{% print user[0][1] %}</td>
					<td>{% print user[0][2] %}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
	 
	 
	 
	 
	 
	 
 
 
	
   </div>
  
     
</body>
 
</html>


    